body {
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  padding: 50px;
}

button {
  background: #00ffcc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
